@import url('./variable.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus-visible {
    outline: 0;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
html,
body {
    height: 100%;
    font-family: 'AvenirRegular';
    font-size: 14px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'AvenirRegular';
}
p{
    font-family: 'AvenirLight';  
}

.menu-items a {
    font-size: 16px;
}

.menu-items a:hover {
    color: var(--text-orange-color);
}

.banner-content h1 {
    font-size: 46px;
}

.banner-content p {
    font-size: 20px;
    font-family: 'AvenirLight';
}

.more-btn {
    font-size: 20px;
    background: var(--text-orange-color);
}

.more-btn:hover {
    background: var(--text-purple-color);
}

.page-heading span {
    background: #f3f4f6;
    z-index: 10;
    position: relative;
    padding-right: 16px;
    font-size: 22px;
}
.page-heading span.bg-white{background: #fff;}

.page-heading:after {
    content: "";
    width: 100%;
    height: 3px;
    background: var(--text-green-color);
    position: absolute;
    top: 13px;
    left: 0;
}

.card .date{color: var(--text-green-color);font-size: 16px;line-height: 1;}
.card h3{font-size: 20px;}
.card p{font-size: 16px;}
.card a{font-size: 16px;line-height: 1;color: var(--text-green-color)}
.card a:hover{color: var(--text-orange-color);}
.footer{background: var(--text-purple-color);}
.copyright-socials{background: var(--text-orange-color);}
.product-description .more-btn,.product-description p{font-size: 16px;}
.product-description h2{font-size: 20px;}