:root{
    --tw-blue-color: #332F82;
    --tw-blue-light-color: #5a57a6;
    --tw-orange-color: #f2931f;
    --tw-green-color: #92c13e;
    --tw-black-color:#242424;
    --tw-white-color: #ffffff;
    --tw-bg-gradient-color: linear-gradient(to right, #332F82, #4a47b0);
}